[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-translator = "*"
requests = "*"
bs4 = "*"

[dev-packages]

[requires]
python_version = ">=3.10"

[scripts]
# https://pipenv.pypa.io/en/latest/scripts/
translate = "python3 json_locale_translator.py "
